body {
    background: url(backlit-beach-dawn-1161446.jpg) no-repeat;
}
.container-fluid bg{
    background: url(backlit-beach-dawn-1161446.jpg) no-repeat; 
    width: 100%;
    height: 100%;
}